@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.wrapper .multi_color_border{
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #37a000 0% , #37a000 25%, #494949 25%, #494949 50%, #37a000 50%, #37a000 75%, #494949 75%, #494949 100%);
}

.wrapper .top_nav{
  margin-top: 0px;
  width: 100%;
  height: 65px;
  background: #fff;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .top_nav .left{
  display: flex;
  align-items: center;
}

.wrapper .top_nav .left .logo img{
  height: 55px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: -13px;
  margin-right: 45px;
}

.search-bar{
  width: 200px;
  height: 30px;
  background: transparent;
  border: 1px solid #494949;
  border-radius: 6px;
  display: flex;
  align-items: center;

}

.search-bar input{
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #494949;
  padding-left: 10px;
}

.search-bar input::placeholder{
  color: #494949;
}

.search-bar button{
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrapper .top_nav .right ul{
  display: flex;
}

.wrapper .top_nav .right ul li{
  margin: 0 12px;
}

.wrapper .top_nav .right ul li:last-child{
  background:  #37a000;
  margin-right: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.wrapper .top_nav .right ul li:hover:last-child{
  background: #494949;
}

.wrapper .top_nav .right ul li a{
  display: block;
  padding: 8px 10px;
  color: #666666;
}

.wrapper .top_nav .right ul li:last-child a{
   color: #fff;
}

.wrapper .bottom_nav{
  width: 100%;
  background: #f9f9f9;
  height: 45px;
  padding: 0 50px;
}

.wrapper .bottom_nav ul{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .bottom_nav ul li a{
  color: #494949;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.background{
  width: 100%;
  height: 100vh;
  background: url('background.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}

.container{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 550px;
  /* background: url('background.jpg') no-repeat;
  background-size: cover;
  background-position: center; */
  border-radius: 10px;
  margin-top: 48px;
}

.container .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background: transparent;
  padding: 80px;
  color: #37a000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container .logreg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
  overflow: hidden;
}

.text-sci h2{
  font-size : 25px;
  line-height: 1;
}

.text-sci h2 span{
  font-size : 25px;
}

.text-sci p{
  font-size: 16px;
  margin: 20px 0px;
  color: #494949;
}

.logreg-box .form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(200px); 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #494949;
}

.logreg-box .form-box.login {
  transform: translateX(0);
  transition: transform .6s ease;
  transition-delay: .7s;
}

.logreg-box.active .form-box.login {
  transform: translateX(430px);
  transition-delay: 0s;
}

.logreg-box .form-box.register {
  transform: translateX(430px);
  transition: transform .6s ease;
  transition-delay: 0s;
}

.logreg-box.active .form-box.register {
  transform: translateX(0);
  transition-delay: .7s
}

.logreg-box .form-box h2{
  color:#37a000;
}

.form-box h2{
  font-size: 32px;
  text-align: center;
}

.form-box .input-box{
  position: relative;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid #37a000;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #494949;
  font-weight: 500;
  padding-right: 28px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
      top: -5px;

}

.input-box .icon{
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 19px;
}

.form-box .remember-forgot{
  font-size: 14.5px;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{
  accent-color: #494949;
  margin-right: 3px;
}

.remember-forgot a {
  color: #494949;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #37a000;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #e4e4e4;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.form-box .login-register{
  font-size: 14.5px;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}

.login-register p a{
  color: #494949;
  font-weight: 600;
  text-decoration: none;
}

.login-register p a:hover{
  text-decoration: underline;
}
