{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}

<div class="container">
    <div class="content">
    <p>Welcome to SkillIndia, a digital platform founded by a group of passionate individuals dedicated to bridging the gap between skilled workers and employment opportunities.</p>
    <p>We understand the challenges faced by skilled individuals who find themselves unemployed despite possessing valuable talents and expertise.</p>
    <p>At SkillIndia, we believe that everyone deserves the opportunity to contribute their skills and talents to the workforce.</p>
    <p>we're here to support you on your journey towards meaningful employment.</p>
    <p>Through our user-friendly interface, job seekers can create personalized profiles highlighting their skills, experience, and qualifications. Employers can easily browse through these profiles to find candidates who match their specific criteria, streamlining the hiring process for both parties.</p>
    </div>
</div>


{% endblock body %}