{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}

{% block body  %}
<div class="body-container">
    <div class="container-contact">
    <div class="contact-box">
        <div class="leftcontact"></div>
        <div class="rightcontact">
            <h2>Contact Us</h2>
            <input type="text" class="fieldcontact" placeholder="Your Name">
            <input type="text" class="fieldcontact" placeholder="Your Email">
            <input type="text" class="fieldcontact" placeholder="Phone">
            <textarea placeholder="Message" class="fieldcontact"></textarea>
            <button class="btncontact">Send</button>
        </div>
    </div>
</div>
</div>
{% endblock body  %}