{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}


{%for messages in messages%}
<div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label ="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endfor %}

{%if user.is_authenticated%}
<h3>Hello, {{username}}</h3>
<h4>You're succesfully logged in</h4>

{% else %}

{% endif %}

{% endblock body %}