{% extends 'base.html' %}
{% block title %}Services{% endblock title %}

{% block body %}
<div class="body-container">
    <div class="services-boxes">
        <h1>Our Services</h1>
            <p>Offering diverse services with expertise in various fields</p>
             <div class="content-box">
                <div class="card">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Sanitatory Worker</h2>
                  <p>Hiring diligent sanitatory worker for maintaining cleanliness and hygiene in various environments</p>

                </div>
                <div class="card">
                    <i class="bx bx-laptop bx-md"></i>
                    <h2>Plumber</h2>
                   <p>
                    Seeking experienced plumber for installation and maintenance work in diverse settings.</p>
                         
                </div>
                <div class="card">
                    <i class='bx bx-user bx-md'></i>

                    <h2>Electrician</h2>
                <p>Seeking skilled electrician for installation and maintenance duties in various environments.</p>
                         
                </div>
                <div class="card">
                    <i class="bx bx-mail-send bx-md"></i>
                    <h2>Appliance Repair</h2>
                    <p> Seeking skilled appliance repair technician for maintenance and troubleshooting tasks.</p>
                         
                </div>
                <div class="card">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>RO Service and Repair</h2>
                    <p> Looking for a proficient RO service and repair technician.</p>
                         
                </div>
                <div class="card">
                    <i class="bx bx-paint bx-md"></i>
                    <h2>Carpenter</h2>
                    <p> Seeking skilled carpenter for various construction and woodworking projects.</p>
                         
                </div>
        </div>
    </div>
</div>
{% endblock body %}
