{% extends 'base.html' %}
{% block title %}Services{% endblock title %}

{% block body %}
<div class="container-services">
    <div class="services-boxes">
        <h1>Our Services</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Esse amet illo eos eligendi nobis nam aspernatur 
             placeat.</p>
             <div class="content-box">
                <div class="card">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>Sanitatory Worker</h2>
                  <p>Marketing services can include advertising, public relations, market research, and more. </p>

                </div>
                <div class="card">
                    <i class="bx bx-laptop bx-md"></i>
                    <h2>Plumber</h2>
                   <p>Web development refers to the creating, building, and maintaining of websites.</p>
                         
                </div>
                <div class="card">
                    <i class='bx bx-user bx-md'></i>

                    <h2>Electrician</h2>
                <p>A BPO call center is a team of outsourced agents who handle incoming and outgoing.</p>
                         
                </div>
                <div class="card">
                    <i class="bx bx-mail-send bx-md"></i>
                    <h2>Appliance Repair</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>
                         
                </div>
                <div class="card">
                    <i class="bx bx-bar-chart-alt bx-md"></i>
                    <h2>RO Service and Repair</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>
                         
                </div>
                <div class="card">
                    <i class="bx bx-paint bx-md"></i>
                    <h2>Carpenter</h2>
                    <p> Iure ad fuga, voluptas nisi odit blanditiis aut culpa quasi. Expedita deleniti molestias hic
                        numquam delectus!</p>
                         
                </div>
        </div>
    </div>
</div>
{% endblock body %}