{% extends 'base.html' %}
{% block title %}Worker Registration{% endblock title %}

{% block body %}

<div class="Hcontainer">
  <div class="Alogreg-box">
     <h1>Worker Registration</h1>
  </div>
</div>

<div class="container">
  <div class="logreg-box">
    <div class="form-box register">
      <form method="POST">
        <div class="left-half">
          <div class="input-box">
            <span class="icon"><i class='bx bxs-user-detail'></i></span>
            <input type="text" name="name" required>
            <label>Name</label>
          </div>
          <div class="input-box">
            <span class="icon"><i class='bx bx-phone'></i></span>
            <input type="tel" name="Phone Number" required>
            <label>Phone Number</label>
          </div>
          <div class="input-box">
            <span class="icon"><i class='bx bxl-gmail'></i></span>
            <input type="tel" name="email" required>
            <label>Email</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-user-detail'></i></span>
            <input type="text" name="State" required>
            <label>State</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-lock-alt'></i></box-icon></span>
            <input type="City" name="City" required>
            <label>City</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="Rcontainer">
  <div class="logreg-box">
    <div class="form-box register">
      <form method="POST">
        <div class="right-half">
          <div class="input-box">
            <span class="icon"><i class='bx bxs-user-detail'></i></box-icon></span>
            <input type="Pincode" name="Pincode" required>
            <label>Pincode</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-map'></i></box-icon></span>
            <input type="Address" name="Address" required>
            <label>Address</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-user-detail'></i></box-icon></span>
            <input type="Profession" name="Profession" required>
            <label>Profession</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-lock-alt'></i></box-icon></span>
            <input type="password" name="password" required>
            <label>Password</label>
          </div>
        </div>
        <div class="remember-forgot">
          <label><input type="checkbox">I agree to the terms & conditions</label>
        </div>
        <button type="submit" class="btn">Sign Up</button>
        <div class="login-register">
          <p>Already have an account? <a href="/loginn">Login </a></p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}