{% extends 'base.html' %}
{% block title %}Worker Registration{% endblock title %}

{% block body %}
<div class="container-worreg">
  <form method="post" class="form">
    {% csrf_token %}
    <h2>Worker Registration</h2>
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="First Name" required >
      </div>
      <div class="input-box">
        <input type="text" placeholder="Last Name" required >
      </div>
    </div>
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="Email" required >
      </div>
      <div class="input-box">
        <input type="tel" placeholder="Phone Number" required >
      </div>
    </div>
    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender">
          <input type="radio" id="check-male" name="gender" checked >
          <label for="check-male">Male</label>
        </div>
        <div class="gender">
          <input type="radio" id="check-female" name="gender" >
          <label for="check-female">Female</label>
        </div>
        <div class="gender">
          <input type="radio" id="check-other" name="gender" >
          <label for="check-other">Prefer not to say</label>
        </div>
      </div>
    </div>
    <div class="input-box address">
      <div class="column">
        <div class="select-box">
          <select>
            <option hidden>Select Profession</option>
            <option>Sanitary Worker</option>
            <option>Plumber</option>
            <option>Electrician</option>
            <option>Appliance Repair</option>
            <option>RO Service and Repair</option>
            <option>Carpenter</option>
          </select>
        </div>
        <input type="text" placeholder="Enter your city" required >
      </div>
      <div class="column">
        <input type="number" placeholder="Enter pincode" required >
        <input type="text" placeholder="Enter your region" required >
      </div>
      <input type="text" placeholder="Enter your address" required >
    </div>
    <button type="submit" class="btn">Register</button>
  </form> 
</div>
{% endblock body %}